# Core modules (mandatory)
jupyterlite-core==0.6.0a8
jupyterlab~=4.3.4
notebook~=7.3.2

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.6.0a6

# JupyterLab: dark theme
jupyterlab-night

# Custom extensions
jupyter-notebook-from-json-extension @ git+https://github.com/gesdisc/jupyter-notebook-from-json-extension@5b7a5720a8fd7242cc2bf67db69b0d74978ddeae
terra_ui_components==0.0.71
