# Core modules (mandatory)
jupyterlite-core==0.6.0a8
jupyterlab~=4.3.4
notebook~=7.3.2

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.6.0a6

# JupyterLab: dark theme
jupyterlab-night

# Custom extensions
jupyter-notebook-from-json-extension @ git+https://github.com/gesdisc/jupyter-notebook-from-json-extension@b00879b71bf5ce6c568119fdc28e92556fc97238
terra_ui_components==0.0.66
